extends layout

block content

    .form
    
        h1=title 

        form(method='POST')
            label(for='passcode') Passcode:
            input(type='text', placeholder='passcode' name='passcode' required)
            
            if errors
                .errors
                ul
                    for error in errors
                        li= error.msg

            button(type='submit') Join
