doctype html
html
  head
    title Club House
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheet/styles.css")
  body

    .header

      .logo
        h1 
          a(href='/') Club House
      
      .nav
  
          if (!user)
            a(href='/login') Login
            a(href='/signup') Sign Up
          else
              if (!user.member)
                a(href='/join') Join Club
              a(href='/create') New Message

              a(href='/logout') Log Out
              p=user.email


    block content
