extends layout

block content

    .form

        h1=title 

        form(method='POST')
            label(for='title') Title:
            input(type='text', placeholder='title' name='title' required)
            label(for='text') Message:
            input(type="text" name="message", placeholder="message" required)

            if errors
                .errors
                ul
                    for error in errors
                        li= error.msg

            button(type='submit') Send
